include requirements.txt
graft include/
graft hdt-cpp-1.3.3/libhdt/src/bitsequence
graft hdt-cpp-1.3.3/libhdt/src/dictionary
graft hdt-cpp-1.3.3/libhdt/src/hdt
graft hdt-cpp-1.3.3/libhdt/src/header
graft hdt-cpp-1.3.3/libhdt/src/huffman
graft hdt-cpp-1.3.3/libhdt/src/libdcs
graft hdt-cpp-1.3.3/libhdt/src/libdcs/fmindex
graft hdt-cpp-1.3.3/libhdt/src/rdf
graft hdt-cpp-1.3.3/libhdt/src/sequence
graft hdt-cpp-1.3.3/libhdt/src/triples
graft hdt-cpp-1.3.3/libhdt/src/util
graft hdt-cpp-1.3.3/libhdt/third
graft hdt-cpp-1.3.3/libhdt/include/
graft hdt-cpp-1.3.3/libhdt/src/dictionary/
graft hdt-cpp-1.3.3/libcds/include/
graft hdt-cpp-1.3.3/libcds/src/static/bitsequence
graft hdt-cpp-1.3.3/libcds/src/static/coders
graft hdt-cpp-1.3.3/libcds/src/static/mapper
graft hdt-cpp-1.3.3/libcds/src/static/permutation
graft hdt-cpp-1.3.3/libcds/src/static/sequence
graft hdt-cpp-1.3.3/libcds/src/utils
